@import url('https://fonts.googleapis.com/css?family=Roboto:200,400&display=swap');

input[type="number"] {
  max-width: 90%;
}

div.outer {
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 10px;
}

body, label, input, button, select {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1em;
}

#controls {
  background-color: white;
  padding: 10px 20px 20px 20px;
  cursor: move;
  opacity: 0.75;
  zoom: 0.9;
  border: 2px solid #042d33;
  border-radius: 10px;
  transition: opacity 500ms 1s;
  max-height: 80vh;
  max-width: 80vw;
  overflow: auto;
  -ms-overflow-style: auto;  /* Adjusted for Internet Explorer and Edge */
}

#controls:hover {
  opacity: 0.95;
  transition-delay: 0s;
}

/* Custom scrollbar for Chrome, Safari, and Opera */
#controls::-webkit-scrollbar {
  width: 12px; /* Adjusted width for scrollbar */
}

#controls::-webkit-scrollbar-thumb {
  background-color: #042d33 !important; /* Scroll thumb color */
  border-radius: 10px !important; /* Rounded corners for scroll thumb */
  border: 3px solid transparent !important; /* Ensures thumb doesn't touch edges */
  background-clip: content-box !important; /* Transparent border space */
}

#controls::-webkit-scrollbar-button {
  height: 10px; /* Smaller buttons */
  display: none;
}


#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

.leaflet-container {
  background-color: white !important;
}
